.footer {
  height: 77px;
  background-color: #27273e;
  line-height: 77px;
}
.footer .container {
  position: relative;
}
.footer-copy {
  display: inline-block;
  width: 265px;
  font-family: gotham-l;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 19px;
  line-height: normal;
  vertical-align: middle;
}
.footer-copy__link {
  font-family: gotham-b;
  font-size: 14px;
  text-decoration: none;
  color: #fff;

}
.footer-logo {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  line-height: normal;
}