.footer {
  /* height: 77px; */
  background-color: #27273e;
 /*  line-height: 77px; */
}
.footer .container {
  height: 77px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copy {
  width: 264px;
  font-family: gotham-l;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 19px;
  line-height: normal;
}
.footer-copy__link {
  font-family: gotham-b;
  font-size: 14px;
  text-decoration: none;
  color: #fff;

}
.footer-logo {
}