.navigation {
  min-height: 100%;
  width: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.navigation__item {
   height: 50px;
   width: 100%;
}
.navigation__item--active .navigation__link{
  color: #000;
}
.navigation__item--active .navigation__link--main:before {
  background: url(../../images/main_icon_hover.png) center center no-repeat;
}
.navigation__item--active .navigation__link--feedback:before {
  background: url(../../images/feed_icon_hover.png) center center no-repeat;
}
.navigation__item--active .navigation__link--price:before {
  background: url(../../images/wallet_icon_hover.png) center center no-repeat;
}
.navigation__link {
  height: 18px;
  color: #ec1e79;
  font-family: gotham-b;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.2px;
}
.navigation__link:hover {
  color: #000;
}
.navigation__link--main:before {
  display: inline-block;
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../images/main_icon.png) center center no-repeat;
}
.navigation__link--main:hover:before {
  background: url(../../images/main_icon_hover.png) center center no-repeat;
}
.navigation__link--feedback:before {
  display: inline-block;
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../images/feed_icon.png) center center no-repeat;
}
.navigation__link--feedback:hover:before {
  background: url(../../images/feed_icon_hover.png) center center no-repeat;
}
.navigation__link--price:before {
  display: inline-block;
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../images/wallet_icon.png) center center no-repeat;
}
.navigation__link--price:hover:before {
  background: url(../../images/wallet_icon_hover.png) center center no-repeat;
}