.social {
  display: inline-block;
  text-align: left;
  width: 200px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
  line-height: normal;
}

.social__tittle {
  text-align: left;
  display: block;
  font-family: gotham-b;
  font-size: 14px;
  color: #fff;
}

.social__list {
  display: inline-block;
  right: 0;
}

.social__item {
  display: inline-block;
  padding: 7px 5px 0 0;
}

.social__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d4d4d8;
  position: relative;
  overflow: hidden;
}

.social__icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social__link:hover {
  background-color: #ec1e79;
}